<div style="margin:1% 5%;">
  <h1 class="display-4">Please Authenticate with DocuSign</h1>
  <p class="lead">
    <form class="eg" action="/auth/docusign" method="POST"  data-busy="form">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <select id="auth" name="auth" class="form-control">
          <option value="grand-auth" selected>Authorization Code grant</option>
          <option value="jwt-auth">JSON Web Token (JWT) grant</option>
        </select><br>
        <button class="btn btn-docu btn-lg">Authenticate with DocuSign</button>
      </div>
    </form>
  </p>
  <hr class="my-4">
  <p>You need to authenticate with DocuSign to continue your request.</p>
</div>
