<h4>3. eg003 Hello List envelopes in the user's account</h4>
<p>eg003 List the envelopes created in the last 30 days.</p>
<p>This example demonstrates how to query DocuSign about envelopes sent by the current user.</p>

<% if @show_doc %>
<p><a target='_blank' href='<%= @documentation %>'>Documentation</a> about this example.</p>
<% end %>

  <p>API method used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/listStatusChanges">Envelopes::listStatusChanges</a>.
    <a target='_blank' href="https://account-d.docusign.com/restapi/v2.1/accounts/53b978c1-f72c-4f36-bdbc-0d206c3652e7/envelopes/cf47bc2a-42be-4d4d-b05a-c47266f6e849/documents">list envelope documents 3-19
	</a>
	 <a target='_blank' href="https://demo.docusign.net/restapi/v2.1/accounts/53b978c1-f72c-4f36-bdbc-0d206c3652e7/envelopes/cf47bc2a-42be-4d4d-b05a-c47266f6e849/documents">list envelope documents 2 03-19
	</a>

  </p>
  <p>
    View source file <a target="_blank" href="<%= @source_url %>"><%= @source_file %></a> on GitHub.
  </p>

  <form class="eg" action="" method="post" data-busy="form">
    <button type="submit" class="btn btn-docu">Continue</button>
  </form>